* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: green;
  text-align: center;
}

.Game {
  height: 100vh;
  display: flex;
  background-color: rgb(36, 41, 46);
}

/* Comment following selector for smaller game */
.Game-Board {
  height: 100vh;
  width: 100vw;
}

.Game-Menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Board {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  perspective: 1000px;
}

.Card {
  background: #fff;
  border: 1px solid #999;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  line-height: 34px;
  text-align: center;
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transition: all .5s;
  transform-style: preserve-3d;
  transform: scale(1);
  overflow: hidden;
}
.Card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

/* Comment following selector for easier card flip debugging */
.front-card {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.front-card,
.back-card {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ResetBtn {
  display: flex;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #008CBA;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #666;
}
.ResetBtn:hover {
  background-color: rgba(0, 139, 186, 0.747);
}
.ResetBtn:active {
  background-color: rgba(0, 139, 186, 0.747);
  box-shadow: 0 5px #444;
  transform: translateY(4px);
}

.flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);

  transition: transform 1s;
  -webkit-transition: transform 1s;
}

.unflip {
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);

  transition: transform 1s;
  -webkit-transition: transform 1s;
}
